@import "tailwindcss";

body{
    background-color: #FAF9F6;
}
.container {
    width: 96%;
    /* mobile */
    margin: 0 auto;
    /* all sizes */
}

/* tablet */
@media (min-width: 768px) {
    .container {
        width: 80%;
    }
}

/* large */
@media (min-width: 1024px) {
    .container {
        width: 70%;
    }
}

header{
    background: linear-gradient(to top, #EFEBE3 0%, #FFFFFF 100%);
}
.offer-card{
    background: linear-gradient(to right bottom, #53DB3A 0%, #FFFFFF 100%);
}