@import "tailwindcss";

body{
    background-color: #FFFFFF;
}
.container{
    width: 80%;
    margin: 0 auto;
}
header{
    background: linear-gradient(to top, #EFEBE3 0%, #FFFFFF 100%);
}
.offer-card{
    background: linear-gradient(to right bottom, #53DB3A 0%, #FFFFFF 100%);
}